#projects-div {
  background-color: #121619;
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: none;
  animation: bounceInRight;
  animation-duration: 2s;
}

#projects-div h1 {
  margin-top: 10vh;
  text-align: center;
}
#projects-div a {
  text-decoration: none;
  color: white;
}

#project-card-holder {
  display: flex;
  justify-content: space-around;
  animation-duration: 1s;
}

#project-card-div {
  border: 2px solid white;
  box-shadow: 5px 5px 5px white;
  padding: 2vh 2vw;
  background-color: black;
  height: max-content;
  margin: 2vw;
}

#project-card-div p {
  max-width: 20vw;
}

#restartButton {
  background-color: transparent;
  color: white;
  border: none;
  margin-top: 10vh;
  margin-left: 43vw;
  font-size: x-large;
  transition: ease;
  transition-duration: 0.3s;
}

#restartButton:hover {
  color: red;
  transition: ease;
  transition-duration: 0.3s;
}

.project-img {
  width: 75%;
  height: 50%;
}

@media screen and (max-width: 950px) {
  #project-card-holder {
    flex-direction: column;
    padding-top: 10vh;
    justify-content: center;
    align-items: center;
    animation: fadeInRight;
    animation-duration: 1.5s;
  }
  #project-card-div {
    width: 80vw;

    padding: 2vh 2vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #project-card-div p {
    min-width: 50%;
  }

  #project-card-div :first-of-type {
    width: 80vw;

    padding: 2vh 2vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  #project-card-holder {
    flex-direction: column;
    padding-top: 1vh;
    padding-bottom: 20vh;
    justify-content: center;
    align-items: center;
    animation: fadeInRight;
    animation-duration: 1.5s;
  }
  #project-card-div {
    width: 80vw;

    padding: 2vh 2vw;

    display: flex;
    flex-direction: column;
  }

  #project-card-div p,
  #project-card-div a {
    min-width: 80%;
  }

  #project-card-div :first-of-type {
    width: 80vw;

    padding: 2vh 2vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
