img {
  height: 3vh;
  width: 3vw;
}

#navbar {
  background-color: black;
  color: white;
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  height: 8vh;
  position: fixed;
  top: 0;
  width: 100vw;
  animation: fadeInDown;
  animation-duration: 1s;
}

#links {
  display: flex;
  flex-wrap: nowrap;
}

#links img {
  margin: 1vw;
  padding: 1vw;
  transition: ease-in;
  transition-duration: 0.3s;
}

#links img:hover {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #ffcf56;
  transition: ease-in;
  transition-duration: 0.3s;
}

@media screen and (max-width: 950px) {
  #links img {
    height: 5vh;
    width: 5vw;
  }
}
