img {
  height: 3vh;
  width: 3vw;
}

#navbar {
  background-color: black;
  color: white;
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  height: 8vh;
  position: fixed;
  top: 0;
  width: 100vw;
  animation: fadeInDown;
  animation-duration: 1s;
}

#navbar h2 {
  padding-left: 1vw;
}

#links {
  display: flex;
  flex-wrap: nowrap;
}

#links h2 {
  margin: 1vw;
  padding: 1vw;
  width: max-content;
  height: max-content;
  transition: ease-in;
  transition-duration: 0.3s;
}

#links h2:hover {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #ffcf56;
  transition: ease-in;
  transition-duration: 0.3s;
}

@media screen and (max-width: 950px) {
  #links h2 {
    height: max-content;
    width: max-content;
  }

  #links h2 {
    font-size: small;
    margin-right: 6vh;
  }

  #navbar {
    justify-content: center;
  }

  #navbar h2 {
    font-size: small;
  }
}

@media screen and (max-width: 400px) {
  #links {
    flex-direction: column;
    padding-top: 5vh;
  }
  #links h2 {
    padding-top: 2vh;
  }
  #navbar {
    justify-content: space-between;
  }
}
